<header>
    <div class="title">Система учета и контроля энергетических ресурсов</div>
    <button class="btn-header"><%= link_to 'выйти' %></button>
</header>

<p id="notice"><%= notice %></p>

<p>
  <strong>Идентификационный номер:</strong>
  <%= @autorization.number %>
</p>

<p>
  <strong>Услуга:</strong>
  <%= @autorization.paymenttype %>
</p>

<p>
  <strong>Объем потребления:</strong>
  <%= @autorization.amount %>
</p>

<p>
  <strong>Цена:</strong>
  <%= @autorization.price %>
</p>

<%= link_to 'Редактировать', edit_autorization_path(@autorization) %> |
<%= link_to 'На главную', autorizations_path %>
